<head>
	<title>Mischievous soda</title>
	<style>
		form{
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	</style>
</head>

<html>
	<form method="POST" action="/">
		<input name="soda" type="text" placeholder="sodaasdfaspde">
		<input name="password" type="password" placeholder="fposaijpeoij">
		<input type="submit" value="ENTEEEERRR">
	</form>

	<script>
		document.body.onload = () => {
			console.log('hi')
			document.getElementsByName("soda")[0].focus()
		}
	</script>
</html>